name: Sync to GitLab
on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Push to GitLab
        run: |
          git config user.name "denys.kramar"
          git config user.email "denys.kramar@onix-systems.com"
          git remote add gitlab https://oauth2:${{ secrets.GITLAB_TOKEN }}@gitlab.com/denys.kramar/android-tasks.git
          git push gitlab main